#{extends 'main.html' /}

#{set title:'Show Me' /}

#{menu id:"showMe"/}

<section class="ui basic middle aligned segment">

    <div class="column">

        <form class="ui stacked segment form" action="/editMe" method="POST">
            <h3 class="ui header">Manage your profile</h3>
            <div class="two fields">

                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname" value="${person.firstname}">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname" value="${person.lastname}">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email" value="${person.email}">
            </div>


            <div class="two fields">
                <div class="field">
                    <label>Username</label>
                    <input placeholder="Username" type="text" name="username" value="${person.username}">
                </div>
                <div class="field">
                    <label>Password (TODO)</label>
                    <input placeholder="Password" type="password" name="password">
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>Gender</label>
                    <div class="ui selection dropdown">
                        <input placeholder="${person.gender}" name="gender">
                        <div class="default text">${person.gender}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="0">Female</div>
                            <div class="item" data-value="1">Male</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Date of Birth</label>
                    <input placeholder="Date of Birth" type="text" name="dob" value="${person.dob}">
                </div>
                <div class="field">
                    <label>Address</label>
                    <input placeholder="Address" type="text" name="address" value="${person.address}">
                </div>
            </div>
            <br><br>

            <div class="ui large buttons">
                <a href="/dashboard" class="ui negative icon button">Cancel</a></a>
                <div class="or"></div>
                <button class="ui positive submit button">SAVE</button>
            </div>
        </form>
        <script>
            $('.ui.dropdown')
                    .dropdown();

            $('.ui.form')
                .form({
                    fields: {
                        firstname: {
                            identifier: 'firstname',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your firstname'
                                }
                            ]
                        },
                        lastname: {
                            identifier: 'lastname',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your lastname'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a email'
                                }
                            ]
                        },
                        username: {
                            identifier: 'username',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a username'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                ,
                                {
                                    type: 'minLength[6]',
                                    prompt: 'Your password must be at least {ruleValue} characters'
                                }
                            ]
                        },
                        address: {
                            identifier: 'address',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter address'
                                }
                            ]
                        },
                        gender: {
                            identifier: 'gender',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please select your gender'
                                }
                            ]
                        }
                    }
                })
            ;

        </script>
    </div>
</section>
