#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<section class="ui two column grid basic middle aligned segment">
  <div class="ui attached message">
    <div class="header">
      Update your profile!
    </div>
    <p>Review the account below</p>
  </div>
  <div class="column">
    <form class="ui stacked segment form" action="/profile" method="POST">
      <h3 class="ui header">Manage your profile</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstname">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastname">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input placeholder="Username" type="text" name="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input placeholder="Password" type="password" name="password">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <input placeholder="Gender" type="text" name="gender">
        </div>
        <div class="field">
          <label>Date of Birth</label>
          <input placeholder="Date of Birth" type="text" name="dob">
        </div>
      </div>
      <div class="field">
        <label>Address</label>
        <input type="address" name="address">
      </div>

      <div class="ui buttons">
        <button class="ui negative button">Cancel</button>
        <div class="or"></div>
        <button class="ui positive button">Save</button>
      </div>
    </form>
  </div>
</section>
