<section class="ui two column doubling stackable grid container">
    <div class="center aligned column">
        <h1 class="ui huge header">BMI Tracker</h1>
        <p>Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and
            encourage you to keep going!</p>
    </div>
    <div class="center aligned column">
        <p>       <!--- ICONS --->
            <i class="red h square massive icon"></i>
            <i class="yellow heart massive icon"></i>
            <i class="orange plus massive square icon"></i>
            <i class="green stethoscope massive icon"></i>
            <i class="black weight massive icon"></i>
            <i class="brown child massive icon"></i>
            <i class="yellow heartbeat massive icon"></i>
            <i class="pink female massive icon"></i>
            <i class="green male massive icon"></i>
            <i class="blue smile massive icon"></i>
            <i class="brown person massive icon"></i>
            <i class="orange heartbeat massive icon"></i>
            <i class="teal users massive massive icon"></i>
            <i class="blue weight massive icon"></i>
            <i class="green heart massive outline icon"></i>
            <i class="red heart massive icon"></i></p>
    </div>
</section>
