<nav class="ui menu">
    <header class="ui header item"><a href="/dashboard">Play Gym</a></header>
    <div class="right menu">
        <a id="dashboard" class="ui fluid item" href="/dashboard"> Dashboard </a>
        <a id="about" class="ui fluid item" href="/about"> About </a>
        <a id="logout" class="ui fluid item" href="/logout"> Logout </a>
        <a id="about" class="ui fluid item" href="/showMe">
            <i class="ui medium person secret icon"></i>
        </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>
