#{extends 'main.html' /}
#{set title:'Admin' /}

<section class="ui raised segment">
    <header class="ui header">
        Assessment List
    </header>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Assessment</th>
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">
            #{list items:assessmentlist, as:'assessment'}
            <tr>
                <td> ${assessment.id}</td>
                <td> ${assessment.title}</td>
            </tr>
            #{/list}
        </div>
        </tbody>
    </table>

</section>
