#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui raised segment">
    <header class="ui header">
        ${person.firstname} ${person.lastname}'s Assessments
    </header>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>date</th>
            <th>updated</th>
            <th>weight</th>
            <th>chest</th>
            <th>thigh</th>
            <th>arm</th>
            <th>waist</th>
            <th>hips</th>
            <th>comment</th>
        </tr>
        </thead>

        <tbody>
        #{list items:assessmentlist, as:'assessment'}
        <tr>
            <td>
                <div class="ui ribbon label">${assessment.date}</div>
            </td>
            <td> ${assessment.updated}</td>
            <td> ${assessment.weight}</td>
            <td> ${assessment.chest}</td>
            <td> ${assessment.thigh}</td>
            <td> ${assessment.arm}</td>
            <td> ${assessment.waist}</td>
            <td> ${assessment.hips}</td>
            <td> ${assessment.comment}</td>
            <td><a href="/dashboard/deleteAssessment/${assessment.id} " class="ui tiny red button"> Delete </a></td>
        </tr>
        #{/list}
        </div>
        </tbody>

        <tfoot>
        <tr>
            <th colspan="3">
                <div class="ui right floated pagination menu">
                    <a class="icon item"> <i class="left chevron icon"></i> </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item"> <i class="right chevron icon"></i> </a>
                </div>
            </th>
        </tr>
        </tfoot>

    </table>
</section>

<form class="ui stacked segment form" action="/dashboard/addAssessment" method="POST">
    <section class="fields">
        <div class="two wide field">
            <label>weight</label>
            <input type="text" placeholder="weight" name="weight">
        </div>
        <div class="two wide field">
            <label>chest</label>
            <input type="text" placeholder="chest" name="chest">
        </div>
        <div class="two wide field">
            <label>thigh</label>
            <input type="text" placeholder="thigh" name="thigh">
        </div>
        <div class="two wide field">
            <label>arm</label>
            <input type="text" placeholder="arm" name="arm">
        </div>
        <div class="two wide field">
            <label>waist</label>
            <input type="text" placeholder="waist" name="waist">
        </div>
        <div class="two wide field">
            <label>hips</label>
            <input type="text" placeholder="hips" name="hips">
        </div>
        <div class="eight wide field">
            <label>comment</label>
            <input type="text" placeholder="comment" name="comment">
        </div>
        <div class="eight wide field">
            <button class="ui blue submit button">Add Assessment</button>
        </div>
    </section>
</form>
