#{extends 'main.html' /}
#{set title:'Home' /}

#{welcomemenu id:"start"/}

<section class="ui two column doubling stackable centered middle aligned grid container">
    <div class="ui vertically centered row">
        <div class="ui center aligned column">
            <h1 class="ui massive header">BMI Tracker</h1>
            <p class="ui big text">Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!</p>
        </div>
        <div class="center aligned column">
            <p>       <!--- ICONS --->
                <i class="yellow heart massive icon"></i>
                <i class="orange plus massive square icon"></i>
                <i class="white stethoscope massive icon"></i>
                <i class="purple weight massive icon"></i>
                <i class="brown child massive icon"></i>
                <i class="yellow heartbeat massive icon"></i>
                <i class="pink female massive icon"></i>
                <i class="green male massive icon"></i>
                <i class="red smile massive icon"></i>
                <i class="brown user massive icon"></i>
                <i class="orange heartbeat massive icon"></i>
                <i class="yellow users massive massive icon"></i>
                <i class="purple weight massive icon"></i>
                <i class="blue heart massive outline icon"></i>
                <i class="red heart massive icon"></i>
            </p>
        </div>
    </div>

    <div class="ui vertically centered row">
        <div class="ui center aligned column"></div>
    </div>

</section>
