#{extends 'main.html' /}
#{set title:'TrainerBoard' /}

#{menu id:"trainerboard"/}

<section class="ui container">

    <section class="ui four column center aligned bordered doubling stackable grid container">
        <div class="row">
            <div class="row-fluid column">
                <i class="huge green user icon"></i>
                <p>${person.firstname.toUpperCase()} ${person.lastname.toUpperCase()}</p>
            </div>
            <div class="column">
                <p> member.getSpeciality Trainer</p> -->
            </div>
        </div>
    </section>

    <br><br>
    <section class="ui raised segment">
        <header class="ui header">Gym members</header>
    </section>
    <section class="ui fourteen wide column center aligned bordered doubling stackable grid">
        #{list items:memberlist, as:'member'}
            <div class="row">
                <div class="two wide column">
                    <td><a href="/dashboard/viewMember/${member.id} " class="ui tiny green button"> View </a>
                </div>
                <div class="four wide column">
                    <td><h3 class="ui header">${member.firstname + " " + member.lastname}</h3></td>
                </div>
                <div class="six wide column">
                    <td>${member.dated}</td>
                </div>
                <div class="two wide column">
                    <td><a href="/dashboard/deleteMember/${member.id} " class="ui tiny red button"> Delete </a>
                </div>
            </div>
        #{/list}
    </section>
</section>