#{extends 'main.html' /}
#{set title:'TrainerBoard' /}

#{menu id:"trainerboard"/}

<section class="ui container">

    <section class="ui four column center aligned bordered doubling stackable grid container">
        <div class="row">
            <div class="row-fluid column">
                <i class="huge green user icon"></i>
                <p>${person.firstname.toUpperCase()} ${person.lastname.toUpperCase()}</p>
            </div>
            <div class="column">
               <!-- <p> trainer.getSpeciality  Trainer</p> -->
            </div>
        </div>
    </section>

    <section class="ui raised segment">
        <header class="ui header">Gym members</header>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            #{list items:memberlist, as:'member'}
            <tr>
                <td>
                    <div class="ui ribbon label">${member.firstname}</div>
                </td>
                <td> ${member.lastname}</td>
                <td><a href="/dashboard/deleteMember/${person.id} " class="ui tiny red button"> Delete </a></td>
            </tr>
            #{/list}
            </div>
            </tbody>
        </table>
    </section>
</section>
